<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Manage Staff Login Role</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
        <li class="breadcrumb-item active">Manage Staff Login Role</li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard">

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <span class="p-1">Staff Login Role List</span>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          (click)="resetForm()">New
          Staff Login Role</button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">{{StaffLoginRole.StaffLoginRoleId > 0 ?
                'Update':'New'}}
                StaffLoginRole
              </h1>
              <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="resetForm()"></button>
            </div>
            <div class="modal-body">

              <form #StaffLoginRoleForm="ngForm">
                <div class="container">
                  <div class="row">

                    <mat-form-field appearance="outline" class="col-sm-6">
                      <mat-label>User Name </mat-label>
                      <input matInput #UserName="ngModel" name="UserName"
                        (ngModelChange)="filterStaffList(StaffLoginRole.UserName)" [(ngModel)]="StaffLoginRole.UserName"
                        [matAutocomplete]="autoUserName" required autofocus>
                      <mat-autocomplete #autoUserName="matAutocomplete">
                        <mat-option *ngFor="let option of filterStaffLogin"
                          (onSelectionChange)="StaffLoginRole.StaffLoginId = option.StaffLoginId"
                          [value]="option.UserName">
                          {{option.UserName}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error *ngIf="(UserName.dirty  || UserName.touched) || (UserName.invalid && isSubmitted)">
                        User name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-sm-6">
                      <mat-label>Role</mat-label>
                      <input matInput #RoleTitle="ngModel" name="RoleTitle"
                        (ngModelChange)="filterRoleList(StaffLoginRole.RoleTitle)"
                        [(ngModel)]="StaffLoginRole.RoleTitle" [matAutocomplete]="autoRoleTitle" required autofocus>
                      <mat-autocomplete #autoRoleTitle="matAutocomplete">
                        <mat-option *ngFor="let option of filterRole"
                          (onSelectionChange)="StaffLoginRole.RoleId = option.RoleId" [value]="option.RoleTitle">
                          {{option.RoleTitle}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error *ngIf="(RoleTitle.dirty  || RoleTitle.touched) || (RoleTitle.invalid && isSubmitted)">
                        Role title is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>


              </form>



              <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                  (click)="resetForm()">Cancel</button>
                <button class="btn btn-primary"
                  (click)="saveStaffLoginRole(StaffLoginRoleForm)">{{StaffLoginRole.StaffLoginRoleId >
                  0 ? 'Update':'Add'}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body ">

        <div class="table-container overflow-auto">

          <div class="dataTable-top">
            <div class="dataTable-dropdown d-flex">
              <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
              </select>
              <span class="ms-2">Entries per page</span>
            </div>
            <div class="dataTable-search">
              <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search" placeholder="Search..."
                type="text">
            </div>
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th style="cursor:pointer;" (click)="sort('UserName')">UserName</th>
                <th style="cursor:pointer;" (click)="sort('RoleTitle')">RoleTitle</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of StaffLoginRoleList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item.UserName}}</td>
                <td>{{item.RoleTitle}}</td>


                <td>
                  <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="editStaffLoginRole(item)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-danger" (click)="deleteStaffLoginRole(item)">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="dataTable-bottom">
            <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
              class="my-pagination"></pagination-controls>
          </div>
        </div>


      </div>
    </div>

  </section>

</main>