<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage StaffLogin</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item active">Manage StaffLogin</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">

        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="p-1">StaffLogin List</span>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="resetForm()">New
                    StaffLogin</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{StaffLogin.StaffLoginId > 0 ?
                                'Update':'New'}}
                                StaffLogin
                            </h1>
                            <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                (click)="resetForm()"></button>

                        </div>
                        <div class="modal-body">

                            <form #StaffLoginForm="ngForm">
                                <div class="container">

                                    <div class="row">
                                        <mat-form-field appearance="outline" class="col-sm-6">
                                            <mat-label>Staff</mat-label>
                                            <input matInput #StaffName="ngModel" name="StaffName"
                                                (ngModelChange)="filterStaffList(StaffLogin.StaffName)"
                                                [(ngModel)]="StaffLogin.StaffName" [matAutocomplete]="autoStaffName"
                                                required autofocus>
                                            <mat-autocomplete #autoStaffName="matAutocomplete">
                                                <mat-option *ngFor="let option of filterStaff"
                                                    (onSelectionChange)="StaffLogin.StaffId = option.StaffId"
                                                    [value]="option.StaffName">
                                                    {{option.StaffName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error
                                                *ngIf="(StaffName.dirty  || StaffName.touched) || (StaffName.invalid && isSubmitted)">
                                                Staff Name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-6">
                                            <mat-label>Username</mat-label>
                                            <input matInput #UserName="ngModel" name="UserName"
                                                [(ngModel)]="StaffLogin.UserName" required autofocus>
                                            <mat-error
                                                *ngIf="(UserName.dirty  || UserName.touched) || (UserName.invalid && isSubmitted)">
                                                User Name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="row">
                                        <mat-form-field appearance="outline" class="col-sm-6">
                                            <mat-label>Login Password</mat-label>
                                            <input [type]="hide ? 'password' : 'text'" matInput #LoginPassword="ngModel"
                                                name="LoginPassword" [(ngModel)]="StaffLogin.LoginPassword" required
                                                autofocus>
                                            <button mat-icon-button matSuffix (click)="hide = !hide"
                                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <mat-error
                                                *ngIf="(LoginPassword.dirty  || LoginPassword.touched) || (LoginPassword.invalid && isSubmitted)">
                                                Login Password is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-6">
                                            <mat-label>School</mat-label>
                                            <input matInput #SchoolName="ngModel" name="SchoolName"
                                                (ngModelChange)="filterSchoolList(StaffLogin.SchoolName)"
                                                [(ngModel)]="StaffLogin.SchoolName" [matAutocomplete]="autoSchoolName"
                                                required autofocus>
                                            <mat-autocomplete #autoSchoolName="matAutocomplete">
                                                <mat-option *ngFor="let option of filterSchool"
                                                    (onSelectionChange)="StaffLogin.SchoolId = option.SchoolId"
                                                    [value]="option.SchoolName">{{option.SchoolName}}</mat-option>
                                            </mat-autocomplete>
                                            <mat-error
                                                *ngIf="(SchoolName.dirty  || SchoolName.touched) || (SchoolName.invalid && isSubmitted)">
                                                School Name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="row">
                                        <mat-form-field appearance="outline" class="col-sm-6">
                                            <mat-label>Status</mat-label>
                                            <mat-select #Status="ngModel" name="Status" [(ngModel)]="StaffLogin.Status"
                                                required>
                                                <mat-option [value]="status.Key"
                                                    *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                                Status is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </form>
                            <div class="modal-footer mt-2">
                                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                                    (click)="resetForm()">Cancel</button>
                                <button class="btn btn-primary"
                                    (click)="saveStaffLogin(StaffLoginForm)">{{StaffLogin.StaffLoginId >
                                    0 ? 'Update':'Add'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body ">
                <div class="table-container overflow-auto">

                    <div class="dataTable-top">
                        <div class="dataTable-dropdown d-flex">
                            <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                            </select>
                            <span class="ms-2">Entries per page</span>
                        </div>
                        <div class="dataTable-search">
                            <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                placeholder="Search..." type="text">
                        </div>
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th style="cursor:pointer;" (click)="sort('StaffName')">Staff</th>
                                <th style="cursor:pointer;" (click)="sort('UserName')">UserName</th>
                                <th style="cursor:pointer;" (click)="sort('LoginPassword')">LoginPassword</th>
                                <th style="cursor:pointer;" (click)="sort('SchoolName')">School</th>
                                <th style="cursor:pointer;" (click)="sort('Status')">Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of StaffLoginList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{item.StaffName}}</td>
                                <td>{{item.UserName}}</td>
                                <td>{{item.LoginPassword}}</td>
                                <td>{{item.SchoolName}}</td>
                                <td>
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{item.StatusName}}
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="editStaffLogin(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="deleteStaffLogin(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTable-bottom">
                        <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                            class="my-pagination"></pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>