<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage Staff</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item active">Manage Staff</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">

        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="p-1">Staff List</span>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="resetForm()">New Staff</button>
            </div>

            <!-- Modal -->

            <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{Staff.StaffId > 0 ? 'Update':'New'}}
                                Staff
                            </h1>
                            <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                (click)="resetForm()"></button>
                        </div>
                        <div class="modal-body">
                            <form #StaffForm="ngForm" class="d-flex justify-content-evenly flex-wrap">
                                <div class="container">

                                    <div class="row">

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Staff Name</mat-label>
                                            <input matInput #StaffName="ngModel" name="StaffName"
                                                [(ngModel)]="Staff.StaffName" required autofocus>
                                            <mat-error
                                                *ngIf="(StaffName.dirty  || StaffName.touched) || (StaffName.invalid && isSubmitted)">
                                                Staff name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--designation-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Designation</mat-label>
                                            <input matInput #DesignationName="ngModel" name="DesignationName"
                                                (ngModelChange)="filterDesignationList(Staff.DesignationName)"
                                                [(ngModel)]="Staff.DesignationName" [matAutocomplete]="autoDesignation"
                                                required autofocus>
                                            <mat-autocomplete #autoDesignation="matAutocomplete">
                                                <mat-option *ngFor="let option of filterDesignation"
                                                    (onSelectionChange)="Staff.DesignationId = option.DesignationId"
                                                    [value]="option.DesignationName">
                                                    {{option.DesignationName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error
                                                *ngIf="(DesignationName.dirty  || DesignationName.touched) || (DesignationName.invalid && isSubmitted)">
                                                Designation Id is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--staff type-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Staff Type</mat-label>
                                            <mat-select #StaffType="ngModel" name="StaffType"
                                                [(ngModel)]="Staff.StaffType" required>
                                                <mat-option [value]="staffType.Key"
                                                    *ngFor="let staffType of StaffTypeList">{{staffType.Value}}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="(StaffType.dirty  || StaffType.touched) || (StaffType.invalid && isSubmitted)">
                                                Staff Type is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="row">
                                        <!--father name-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Father Name</mat-label>
                                            <input matInput #FatherName="ngModel" name="FatherName"
                                                [(ngModel)]="Staff.FatherName" required autofocus>
                                            <mat-error
                                                *ngIf="(FatherName.dirty  || FatherName.touched) || (FatherName.invalid && isSubmitted)">
                                                Father Name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--dob-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>DOB</mat-label>
                                            <input matInput #DOB="ngModel" name="DOB" [(ngModel)]="Staff.DOB" required
                                                [matDatepicker]="DOBPicker">
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="DOBPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #DOBPicker></mat-datepicker>
                                            <mat-error
                                                *ngIf="(DOB.dirty  || DOB.touched) || (DOB.invalid && isSubmitted)">
                                                DOB is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--mobile-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Mobile No</mat-label>
                                            <input type="number" matInput #MobileNo="ngModel" name="MobileNo"
                                                [(ngModel)]="Staff.MobileNo" required autofocus>
                                            <!--<mat-icon matSuffix>phone</mat-icon>-->
                                            <mat-error
                                                *ngIf="(MobileNo.dirty  || MobileNo.touched) || (MobileNo.invalid && isSubmitted)">
                                                Mobile No is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="row">
                                        <!--alternate no-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Alternate No</mat-label>
                                            <input type="number" matInput #AlternateNo="ngModel" name="AlternateNo"
                                                [(ngModel)]="Staff.AlternateNo" autofocus>
                                            <!--<mat-icon matSuffix>phone</mat-icon>-->

                                            <mat-error
                                                *ngIf="(AlternateNo.dirty  || AlternateNo.touched) || (AlternateNo.invalid && isSubmitted)">
                                                Alternate No is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>


                                        <!--email-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Email</mat-label>
                                            <input type="email" matInput #Email="ngModel" email="true" name="Email"
                                                [(ngModel)]="Staff.Email" required autofocus>
                                            <mat-error
                                                *ngIf="(Email.dirty  || Email.touched) || (Email.invalid && isSubmitted)">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--gender-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Gender</mat-label>
                                            <mat-select #Gender="ngModel" name="Gender" [(ngModel)]="Staff.Gender"
                                                required>
                                                <mat-option [value]="gender.Key"
                                                    *ngFor="let gender of GenderList">{{gender.Value}}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="(Gender.dirty  || Gender.touched) || (Gender.invalid && isSubmitted)">
                                                Gender is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="row">
                                        <!--qualification-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Qualification</mat-label>
                                            <input matInput #Qualification="ngModel" name="Qualification"
                                                [(ngModel)]="Staff.Qualification" required autofocus>
                                            <mat-error
                                                *ngIf="(Qualification.dirty  || Qualification.touched) || (Qualification.invalid && isSubmitted)">
                                                Qualification is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--fill address-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Full Address</mat-label>
                                            <input matInput #FullAddress="ngModel" name="FullAddress"
                                                [(ngModel)]="Staff.FullAddress" required autofocus>
                                            <mat-error
                                                *ngIf="(FullAddress.dirty  || FullAddress.touched) || (FullAddress.invalid && isSubmitted)">
                                                Full Address is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--join date-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Join Date</mat-label>
                                            <input matInput #JoinDate="ngModel" name="JoinDate"
                                                [(ngModel)]="Staff.JoinDate" required [matDatepicker]="JoinDatePicker">
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="JoinDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #JoinDatePicker></mat-datepicker>
                                            <mat-error
                                                *ngIf="(JoinDate.dirty  || JoinDate.touched) || (JoinDate.invalid && isSubmitted)">
                                                Join Date is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="row justify-content-start">
                                        <!--department-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label [ariaSetSize]="8">Department</mat-label>
                                            <input matInput #DepartmentName="ngModel" name="DepartmentName"
                                                (ngModelChange)="filterDepartmentList(Staff.DepartmentName)"
                                                [(ngModel)]="Staff.DepartmentName" [matAutocomplete]="autoDepartment"
                                                required autofocus>

                                            <mat-autocomplete #autoDepartment="matAutocomplete">
                                                <mat-option *ngFor="let option of filterDepartment"
                                                    (onSelectionChange)="Staff.DepartmentId = option.DepartmentId"
                                                    [value]="option.DepartmentName">
                                                    {{option.DepartmentName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error
                                                *ngIf="(DepartmentName.dirty  || DepartmentName.touched) || (DepartmentName.invalid && isSubmitted)">
                                                Department Name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!--status-->
                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Status</mat-label>
                                            <mat-select #Status="ngModel" name="Status" [(ngModel)]="Staff.Status"
                                                required>
                                                <mat-option [value]="status.Key"
                                                    *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                                Status is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                            </form>
                            <div class="modal-footer mt-2">
                                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                                    (click)="resetForm()">Cancel</button>
                                <button type="submit" class="btn btn-primary"
                                    (click)="saveStaff(StaffForm)">{{Staff.StaffId > 0 ? 'Update':'Add'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">

                <div class="table-container overflow-auto">


                    <div class="dataTable-top">
                        <div class="dataTable-dropdown d-flex">
                            <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                            </select>
                            <span class="ms-2">Entries per page</span>
                        </div>
                        <div class="dataTable-search">
                            <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                placeholder="Search..." type="text">
                        </div>
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th style="cursor:pointer;" (click)="sort('StaffName')">Staff Name</th>
                                <th style="cursor:pointer;" (click)="sort('StaffCode')">Staff Code</th>
                                <th style="cursor:pointer;" (click)="sort('DesignationName')">Designation</th>
                                <th style="cursor:pointer;" (click)="sort('StaffType')">Staff Type</th>
                                <th style="cursor:pointer;" (click)="sort('FatherName')">Father's Name</th>
                                <th style="cursor:pointer;" (click)="sort('MobileNo')">Mobile No</th>
                                <th style="cursor:pointer;" (click)="sort('AlternateNo')">Alternate No</th>
                                <th style="cursor:pointer;" (click)="sort('Email')">Email</th>
                                <th style="cursor:pointer;" (click)="sort('DOB')">DOB</th>
                                <th style="cursor:pointer;" (click)="sort('Gender')">Gender</th>
                                <th style="cursor:pointer;" (click)="sort('Qualification')">Qualification</th>
                                <th style="cursor:pointer;" (click)="sort('FullAddress')">Full Address</th>
                                <th style="cursor:pointer;" (click)="sort('JoinDate')">Join Date</th>
                                <th style="cursor:pointer;" (click)="sort('DepartmentName')">Department</th>
                                <th style="cursor:pointer;" (click)="sort('Status')">Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of StaffList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{item.StaffName}}</td>
                                <td>{{item.StaffCode}}</td>
                                <td>{{item.DesignationName}}</td>
                                <td>{{item.StaffType}}</td>
                                <td>{{item.FatherName}}</td>
                                <td>{{item.MobileNo}}</td>
                                <td>{{item.AlternateNo}}</td>
                                <td>{{item.Email}}</td>
                                <td style="white-space:nowrap">{{item.DOB | date: "dd-MM-yy"}}</td>
                                <td>{{item.Gender}}</td>
                                <td>{{item.Qualification}}</td>
                                <td>{{item.FullAddress}}</td>
                                <td style="white-space:nowrap">{{item.JoinDate | date: "dd-MM-yy"}}</td>
                                <td>{{item.DepartmentName}}</td>

                                <td>
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{item.StatusName}}
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="editStaff(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="deleteStaff(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTable-bottom ">
                        <pagination-controls (pageChange)="onTableDataChange($event)"
                            class="pagination justify-content-end"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>