<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage Fee Admission</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item active">Manage Fee Admission</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">

        <div class="card">

            <div class="card-header d-flex justify-content-between">
                <span class="p-1">Fee Admission List</span>
            </div>

            <div class="card-body ">
                <form #FeeAdmissionForm="ngForm">
                    <div class="container">
                        <div class="row mt-2">
                            <mat-form-field appearance="outline" class="col-sm-2">
                                <mat-label>Class</mat-label>
                                <mat-select #ClassName="ngModel" name="ClassId" [(ngModel)]="FeeAdmission.ClassId"
                                    required>
                                    <mat-option [value]="class.ClassId"
                                        *ngFor="let class of ClassList">{{class.ClassName}}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="(ClassName.dirty  || ClassName.touched) || (ClassName.invalid && isSubmitted)">
                                    Class is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-sm-2">
                                <mat-label>Session</mat-label>
                                <mat-select #SessionName="ngModel" name="SessionId" [(ngModel)]="FeeAdmission.SessionId"
                                    required>
                                    <mat-option [value]="session.SessionId"
                                        *ngFor="let session of SessionList">{{session.SessionName}}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="(SessionName.dirty  || SessionName.touched) || (SessionName.invalid && isSubmitted)">
                                    Session is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-sm-2">
                                <mat-label>Pupli Type</mat-label>
                                <mat-select #PupilTypeName="ngModel" name="PupilTypeId"
                                    [(ngModel)]="FeeAdmission.PupilTypeId" required>
                                    <mat-option [value]="pupil.PupilTypeId"
                                        *ngFor="let pupil of PupilTypeList">{{pupil.PupilTypeName}}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="(PupilTypeName.dirty  || PupilTypeName.touched) || (PupilTypeName.invalid && isSubmitted)">
                                    PupilType is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-sm-2">
                                <mat-label>Admission Type</mat-label>
                                <mat-select #AdmissionType="ngModel" name="AdmissionType"
                                    [(ngModel)]="FeeAdmission.AdmissionType" required>
                                    <mat-option [value]="AdmissionType.Key"
                                        *ngFor="let AdmissionType of AdmissionTypeList">{{AdmissionType.Value}}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="(AdmissionType.dirty  || AdmissionType.touched) || (AdmissionType.invalid && isSubmitted)">
                                    AdmissionType is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <div class="col-sm-2">
                                <button class="btn btn-primary my-1" (click)="getFeeAdmissionList()">Search</button>
                            </div>

                        </div>

                    </div>
                </form>

                <mat-divider></mat-divider>
                <div class="container mt-3" *ngIf="FeeAdmissionList.length > 0">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th style="cursor:pointer;" (click)="sort('HeadName')">Head</th>
                                <th style="cursor:pointer;">Amount</th>
                                <th style="cursor:pointer;">Active</th>
                                <th style="cursor:pointer;">Compulsory</th>
                                <th style="cursor:pointer;">Refundable</th>
                                <th style="cursor:pointer;">Remarks</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of FeeAdmissionList; let i=index;">
                                <td>
                                    <div class="m-2">
                                        {{i+1}}
                                    </div>
                                </td>
                                <td>
                                    <div class="m-2">
                                        {{item.HeadName}}
                                    </div>
                                </td>
                                <td>
                                    <div class="m-2">
                                        <input [(ngModel)]="item.FeeAmount" type="text" class="form-control">
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <mat-checkbox [(ngModel)]="item.IsActive" color="primary"></mat-checkbox>
                                </td>
                                <td style="text-align: center;">
                                    <mat-checkbox [(ngModel)]="item.IsCompulsory" color="primary"></mat-checkbox>
                                </td>
                                <td style="text-align: center;">
                                    <mat-checkbox [(ngModel)]="item.IsRefundable" color="primary"></mat-checkbox>
                                </td>
                                <td>
                                    <div class="m-1">
                                        <input [(ngModel)]="item.Remarks" type="text" class="form-control">
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>


            </div>
            <div *ngIf="FeeAdmissionList.length > 0" class="card-footer" style="text-align: center;">
                <button class="btn btn-primary" (click)="saveFeeAdmission(FeeAdmissionForm)">Submit</button>
            </div>

        </div>

    </section>

</main>