<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage School</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item active">Manage School</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">

        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="p-1">School List</span>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="resetForm()">New
                    School</button>
            </div>

            <!-- Modal -->
            <div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{School.SchoolId > 0 ?
                                'Update':'New'}}
                                School
                            </h1>
                            <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                (click)="resetForm()"></button>
                        </div>
                        <div class="modal-body">

                            <form #SchoolForm="ngForm" >
                                <div class="contianer">

                                    <div class="row">

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>School Name</mat-label>
                                            <input matInput #SchoolName="ngModel" name="SchoolName"
                                                [(ngModel)]="School.SchoolName" required autofocus>
                                            <mat-error
                                                *ngIf="(SchoolName.dirty  || SchoolName.touched) || (SchoolName.invalid && isSubmitted)">
                                                School name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Short Name</mat-label>
                                            <input matInput #ShortName="ngModel" name="ShortName"
                                                [(ngModel)]="School.ShortName" required autofocus>
                                            <mat-error
                                                *ngIf="(ShortName.dirty  || ShortName.touched) || (ShortName.invalid && isSubmitted)">
                                                Short Name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Location</mat-label>
                                            <input matInput #Location="ngModel" name="Location"
                                                [(ngModel)]="School.Location" required autofocus>
                                            <mat-error
                                                *ngIf="(Location.dirty  || Location.touched) || (Location.invalid && isSubmitted)">
                                                Location is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="row">

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Full Address</mat-label>
                                            <input matInput #FullAddress="ngModel" name="FullAddress"
                                                [(ngModel)]="School.FullAddress" required autofocus>
                                            <mat-error
                                                *ngIf="(FullAddress.dirty  || FullAddress.touched) || (FullAddress.invalid && isSubmitted)">
                                                Full Address is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Slogan</mat-label>
                                            <input matInput #SchoolSlogan="ngModel" name="SchoolSlogan"
                                                [(ngModel)]="School.SchoolSlogan" required autofocus>
                                            <mat-error
                                                *ngIf="(SchoolSlogan.dirty  || SchoolSlogan.touched) || (SchoolSlogan.invalid && isSubmitted)">
                                                Slogan is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Affiliation Detail</mat-label>
                                            <input matInput #AffiliationDetail="ngModel" name="AffiliationDetail"
                                                [(ngModel)]="School.AffiliationDetail" required autofocus>
                                            <mat-error
                                                *ngIf="(AffiliationDetail.dirty  || AffiliationDetail.touched) || (AffiliationDetail.invalid && isSubmitted)">
                                                Affiliation Details is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Affiliation No</mat-label>
                                            <input matInput #AffiliationNo="ngModel" name="AffiliationNo"
                                                [(ngModel)]="School.AffiliationNo" required autofocus>
                                            <mat-error
                                                *ngIf="(AffiliationNo.dirty  || AffiliationNo.touched) || (AffiliationNo.invalid && isSubmitted)">
                                                Affiliation No is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>School Code</mat-label>
                                            <input matInput #SchoolCode="ngModel" name="SchoolCode"
                                                [(ngModel)]="School.SchoolCode" required autofocus>
                                            <mat-error
                                                *ngIf="(SchoolCode.dirty  || SchoolCode.touched) || (SchoolCode.invalid && isSubmitted)">
                                                School Code is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Website URL</mat-label>
                                            <input matInput #WebsiteUrl="ngModel" name="WebsiteUrl"
                                                [(ngModel)]="School.WebsiteUrl" required autofocus>
                                            <mat-icon matSuffix>link</mat-icon>
                                            <mat-error
                                                *ngIf="(WebsiteUrl.dirty  || WebsiteUrl.touched) || (WebsiteUrl.invalid && isSubmitted)">
                                                Website URL is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Email</mat-label>
                                            <input matInput #Email="ngModel" name="Email" email="true"
                                                [(ngModel)]="School.Email" required autofocus>
                                            <mat-error
                                                *ngIf="(Email.dirty  || Email.touched) || (Email.invalid && isSubmitted)">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Mobile No</mat-label>
                                            <input type="number" matInput #MobileNo="ngModel" name="MobileNo"
                                                [(ngModel)]="School.MobileNo" required autofocus>
                                            <mat-icon matSuffix>phone</mat-icon>
                                            <mat-error
                                                *ngIf="(MobileNo.dirty  || MobileNo.touched) || (MobileNo.invalid && isSubmitted)">
                                                Mobile No is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Alternate No</mat-label>
                                            <input type="number" matInput #AlternateNo="ngModel" name="AlternateNo"
                                                [(ngModel)]="School.AlternateNo" autofocus>
                                            <mat-icon matSuffix>phone</mat-icon>
                                            <mat-error
                                                *ngIf="(AlternateNo.dirty  || AlternateNo.touched) || (AlternateNo.invalid && isSubmitted)">
                                                Alternate No is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Logo PNG</mat-label>
                                            <input matInput #LogoPng="ngModel" name="LogoPng"
                                                [(ngModel)]="School.LogoPng" autofocus>
                                            <button mat-icon-button matSuffix>
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <mat-error
                                                *ngIf="(LogoPng.dirty  || LogoPng.touched) || (LogoPng.invalid && isSubmitted)">
                                                Logo PNG is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Logo JPEG</mat-label>
                                            <input matInput #LogoJpeg="ngModel" name="LogoJpeg"
                                                [(ngModel)]="School.LogoJpeg" autofocus>
                                            <button mat-icon-button matSuffix>
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <mat-error
                                                *ngIf="(LogoJpeg.dirty  || LogoJpeg.touched) || (LogoJpeg.invalid && isSubmitted)">
                                                Logo JPEG is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="col-sm-4">
                                            <mat-label>Status</mat-label>
                                            <mat-select #Status="ngModel" name="Status" [(ngModel)]="School.Status"
                                                required>
                                                <mat-option [value]="status.Key"
                                                    *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                                Status is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </form>

                            <div class="modal-footer mt-2">
                                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                                    (click)="resetForm()">Cancel</button>
                                <button class="btn btn-primary" (click)="saveSchool(SchoolForm)">{{School.SchoolId >
                                    0 ? 'Update':'Add'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body ">

                <div class="table-container overflow-auto">

                    <div class="dataTable-top">
                        <div class="dataTable-dropdown d-flex">
                            <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                            </select>
                            <span class="ms-2">Entries per page</span>
                        </div>
                        <div class="dataTable-search">
                            <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                placeholder="Search..." type="text">
                        </div>
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th style="cursor:pointer;" (click)="sort('SchoolName')">School</th>
                                <th style="cursor:pointer;" (click)="sort('ShortName')">Short Name</th>
                                <th style="cursor:pointer;" (click)="sort('Location')">Location</th>
                                <th style="cursor:pointer;" (click)="sort('FullAddress')">Full Address</th>
                                <th style="cursor:pointer;" (click)="sort('Slogan')">Slogan</th>
                                <th style="cursor:pointer;" (click)="sort('AffiliationDetail')">Affiliation Detail</th>
                                <th style="cursor:pointer;" (click)="sort('AffiliationNo')">Affiliation No</th>
                                <th style="cursor:pointer;" (click)="sort('SchoolCode')">School Code</th>
                                <th style="cursor:pointer;" (click)="sort('Website')">Website</th>
                                <th style="cursor:pointer;" (click)="sort('Email')">Email</th>
                                <th style="cursor:pointer;" (click)="sort('MobileNumber')">Mobile Number</th>
                                <th style="cursor:pointer;" (click)="sort('AlternateNumber')">Alternate Number</th>
                                <th style="cursor:pointer;" (click)="sort('Status')">Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of SchoolList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{item.SchoolName}}</td>
                                <td>{{item.ShortName}}</td>
                                <td>{{item.Location}}</td>
                                <td>{{item.FullAddress}}</td>
                                <td>{{item.SchoolSlogan}}</td>
                                <td>{{item.AffiliationDetail}}</td>
                                <td>{{item.AffiliationNo}}</td>
                                <td>{{item.SchoolCode}}</td>
                                <td>{{item.WebsiteUrl}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.MobileNo}}</td>
                                <td>{{item.AlternateNo}}</td>
                                <td>
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{item.StatusName}}
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="editSchool(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="deleteSchool(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTable-bottom">
                        <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                            class="my-pagination"></pagination-controls>
                    </div>
                </div>


            </div>
        </div>

    </section>

</main>