/* You can add global styles to this file, and also import other style files */


.processDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  /* background-image: url('./assets/spinners/progress.gif'); */
  background-size: 100px 100px;
  z-index: 34249322;
}

.fullDiv {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  z-index: 3424565656;
  opacity: 20;
  top: 0;
  left: 0;
}

.table th,
.table td {
  font-size: 14px !important;
}

.form-group {
  padding-bottom: 10px;
}

a {
  cursor: pointer;
}

.new-link {
  font-size: 13px;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.autocomplete-container .input-container input {
  font-size: 14px;
  padding: 0 6px;
  height: 25px;
}

.autocomplete-container .suggestions-container {
  z-index: 9999;
}

.form-select,
.form-control,
.autocomplete-container .input-container input {
  padding: 0.2rem 0.4rem !important;
  font-size: 0.8rem !important;

}

.autocomplete-container .input-container input {
  display: block !important;
  width: 100% !important;
  padding: 0.2rem 0.4rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 0.375rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  height: auto !important;
}

.autocomplete-container {
  box-shadow: none !important;
  height: auto !important;
}

.autocomplete-container .suggestions-container ul li a,
.text-danger {
  font-size: 0.8rem !important;
}

.autocomplete-container .suggestions-container ul li a {
  padding: 5px 10px !important;
}

hr {
  margin: 0.3rem;
}

.form-label {
  font-size: 0.8rem;
}

.btn {
  padding: 0.2rem 0.5rem !important;
  border-radius: 3px !important;
  font-size: 0.8rem !important;
}

.list-group-item.active {
  padding: 3px 10px !important;
  margin-top: 10px;
}

b {
  font-size: 0.8rem;
}

.input_money {
  width: 70px;
}


/*
td {
  white-space: nowrap;
}*/

.badge mat-icon {
  height: 22px;
  width: 21px;
  transform: scale(0.7);
}

.mat-mdc-table .mdc-data-table__row {
  height: 40px
}

.inputSuffix {
  width: 212px;
}

.mat-mdc-form-field {
  margin-bottom: 1em;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.mat-mdc-form-field,
.mat-mdc-floating-label,
.mat-mdc-select,
.mdc-list-item__primary-text {
  font-size: 13px !important;
}

.mat-mdc-form-field-infix {
  min-height: 0px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 17px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  --mat-mdc-form-field-label-transform: translateY(-24.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
  transform: var(--mat-mdc-form-field-label-transform);
}

.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.95;
}

.mat-mdc-form-field-icon-prefix>.mat-icon,
.mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 7px;
}

/*.mat-mdc-icon-button {
  height: var(--mdc-icon-button-state-layer-size) !important;
}*/

.mat-mdc-icon-button svg,
.mat-mdc-icon-button img {
  width: var(--mdc-icon-button-icon-size, 16px) !important;
  height: var(--mdc-icon-button-icon-size, 16px) !important;
}

.mdc-icon-button {
  font-size: 24px;
  width: 40px !important;
  height: 40px !important;
  padding: 12px;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field-icon-prefix>.mat-icon,
.mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 5px !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 7px !important;
}

th {
  user-select: none;
}

.input_search {
  margin-bottom: 0;
  float: right;
}

.input_search .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

/*.table th, .table td{
  padding: 0.2rem 0.2rem;
}*/

.text-link {
  cursor: pointer;
}

.dataTable-selector {
  height: calc(1.5em + 0.5rem + 2px) !important;
  width: 75px;
}

.dataTable-dropdown .ms-2 {
  white-space: nowrap;
  padding-top: 4px;
}

a {
  text-decoration: none;
}