<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Manage Designation</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
        <li class="breadcrumb-item active">Manage Designation</li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard">

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <span class="p-1">Designation List</span>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          (click)="resetForm()">New
          Designation</button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">{{Designation.DesignationId > 0 ? 'Update':'New'}}
                Designation
              </h1>
              <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="resetForm()"></button>
            </div>
            <div class="modal-body">

              <form #DesignationForm="ngForm" class="d-flex justify-content-evenly flex-wrap">
                <div class="container">
                  <div class="row">

                    <mat-form-field appearance="outline" class="col-sm-6">

                      <mat-label>Designation Name</mat-label>
                      <input matInput #DesignationName="ngModel" name="DesignationName"
                        [(ngModel)]="Designation.DesignationName" required autofocus>
                      <mat-error
                        *ngIf="(DesignationName.dirty  || DesignationName.touched) || (DesignationName.invalid && isSubmitted)">
                        Designation name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-sm-6">
                      <mat-label>Status</mat-label>
                      <mat-select #Status="ngModel" name="Status" [(ngModel)]="Designation.Status" required>
                        <mat-option [value]="status.Key" *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                        Status is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

              </form>
              <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                  (click)="resetForm()">Cancel</button>
                <button class="btn btn-primary" (click)="saveDesignation(DesignationForm)">{{Designation.DesignationId >
                  0 ? 'Update':'Add'}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body ">

        <div class="table-container overflow-auto">

          <div class="dataTable-top">
            <div class="dataTable-dropdown d-flex">
              <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
              </select>
              <span class="ms-2">Entries per page</span>
            </div>
            <div class="dataTable-search">
              <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search" placeholder="Search..."
                type="text">
            </div>
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th style="cursor:pointer;" (click)="sort('DesignationName')">Designation</th>
                <th style="cursor:pointer;" (click)="sort('Status')">Status</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of DesignationList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item.DesignationName}}</td>
                <td>
                  <span class="p-1" [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                    {{item.StatusName}}
                  </span>
                </td>
                <td>
                  <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="editDesignation(item)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-danger" (click)="deleteDesignation(item)">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="dataTable-bottom">
            <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
              class="my-pagination"></pagination-controls>
          </div>
        </div>


      </div>
    </div>

  </section>

</main>